Post::create(['title' => 'Judul Ke Lima','excerpt' => 'Jaya Selalu
Soverdi','body' => '
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam nesciunt,
    tempore doloremque adipisci beatae dolorum ducimus! Error eos excepturi
    molestiae fuga, quae porro ipsum, saepe officia tempora optio, animi natus?
    Aperiam odit blanditiis officiis minus maxime. Molestiae ex minima adipisci
    possimus labore! Velit enim veniam, minima omnis atque neque quisquam
    aspernatur pariatur animi beatae repellendus debitis dolorum voluptatem
    sapiente rem at nemo culpa suscipit fugiat ipsum dignissimos! Perspiciatis
    distinctio, odio impedit, obcaecati quibusdam ullam sint dignissimos cum
    itaque nihil maxime temporibus! Repellendus necessitatibus sequi voluptates
    deleniti eius, modi nihil maiores pariatur facere? Ipsa asperiores omnis
    atque, odio, magnam sint totam quam delectus eveniet ratione labore
    architecto repudiandae non sed ullam et, nulla exercitationem tempore
    dolorum! Reprehenderit dolorum, iure enim rem quia fuga commodi nostrum
    maiores fugit officiis facilis animi quidem soluta alias accusamus
    repellendus quas blanditiis explicabo est, eligendi quae. Numquam doloremque
    facere debitis, sed enim assumenda laboriosam placeat. Laborum!
</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, autem?</p>
<p>Lorem ipsum dolor sit amet.</p>
' ]) Post::create(['title' => 'Judul Keempat','category_id' => 1,'slug' =>
'Judul-Keempat','excerpt' => '4Sukses Jaya Selalu Soverdi','body' => '
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
    nesciunt,tempore doloremque adipisci beatae dolorum ducimus! Error eos
    excepturimolestiae fuga, quae porro ipsum, saepe officia tempora optio,
    animi natus? Aperiam odit blanditiis officiis minus maxime. Molestiae ex
    minima adipisci possimus labore! Velit enim veniam, minima omnis atque neque
    quisquam aspernatur pariatur animi beatae repellendus debitis dolorum
    voluptatem sapiente rem at nemo culpa suscipit fugiat ipsum dignissimos!
    Perspiciatis distinctio, odio impedit, obcaecati quibusdam ullam sint
    dignissimos cum itaque nihil maxime temporibus! Repellendus necessitatibus
    sequi voluptates deleniti eius, modi nihil maiores pariatur facere? Ipsa
    asperiores omnis atque, odio, magnam sint totam quam delectus eveniet
    ratione labore architecto repudiandae non sed ullam et, nulla exercitationem
    tempore dolorum! Reprehenderit dolorum, iure enim rem quia fuga commodi
    nostrum maiores fugit officiis facilis animi quidem soluta alias accusamus
    repellendus quas blanditiis explicabo est, eligendi quae. Numquam doloremque
    facere debitis, sed enim assumenda laboriosam placeat. Laborum!
</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, autem?</p>
<p>Lorem ipsum dolor sit amet.</p>
']) Category::create([’name’] => ‘Programming’,'slug' => 'programming') Lorem
ipsum dolor sit amet consectetur adipisicing elit. Laborum asperiores dolor hic
pariatur qui temporibus est eligendi nihil porro similique nulla, iusto ex
magni, voluptatem esse fugit delectus, adipisci vero libero. Recusandae libero
enim at animi sequi autem inventore illum nam aut. Facilis, doloremque sed
temporibus laboriosam voluptate vel voluptatibus id illum. Quo autem delectus
vero at, inventore quod blanditiis cum doloremque quibusdamOmnis cupiditate iure
porro rem similique quod voluptatem doloribus provident vero ex ipsum sapiente
dolores veniam iste beatae et qui, est ab nemo, mollitia aperiam. voluptate odit
rerum illo dolor repellendus numquam consectetur temporibus, obcaecati libero
natus. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro
dignissimos a architecto impedit doloribus, nulla expedita quos! Esse impedit,
assumenda vel amet explicabo sapiente veniam accusamus rerum quaerat quibusdam
eos veritatis alias illum debitis optio quisquam doloremque eum nemo deleniti
possimus sit est voluptatem! Tempora ab fugiat hic ducimus, voluptas earum
aperiam modi, impedit facilis autem cupiditate. Possimus vel rerum dolor eum.
Vitae possimus excepturi laudantium ullam veritatis harum, autem quaerat nobis
repellat porro a minus corporis? Laudantium odio magnam nesciunt, aspernatur
dignissimos possimus eos voluptatibus error minus iste debitis velit inventore
a. Voluptatibus possimus consequatur, praesentium illo eius corrupti?
